.filtersText {
  color: #475467;
  font-weight: 500;
}

.filtersTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}

.filtersList {
  display: flex;
}

.filtersItem {
  display: flex;
  padding: 16px 40px;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #dadde1;
  mix-blend-mode: multiply;
}
