.camperItemContainer {
  padding: 64px 48px 80px;
}

.camperContainerImg {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-bottom: 28px;
}
.camperImg {
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #475467;
}

.camperDescription {
  color: #475467;
  font-weight: 400;
  margin-bottom: 60px;
}

.camperName {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3; /* 133.333% */
}
.camperNameContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.camperPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3; /* 133.333% */
  margin-bottom: 28px;
}

.camperReviewsContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.camperReviews,
.camperLocation {
  display: flex;
  gap: 4px;
  align-items: center;
}
.line {
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #dadde1;
  margin-bottom: 44px;
}

.camperLinksContainer {
  display: flex;
  gap: 40px;
}

.camperLink {
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  margin-bottom: 24px;
  position: relative;
}

.camperLinkIsActive::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -32px;
  display: block;
  border-radius: 2px;
  background: #e44848;
}
